@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

body {
    -moz-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease;
    height: 100%;
    position: relative;
    width: 100%;
    padding: 2em 0 3em 0;
    background-color: #4686a0;
    background-attachment: fixed, fixed, fixed;
    background-image: url('images/bg1.png'), url('images/bg2.svg'), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
    background-position: top left, center center, center center;
    background-size: auto, cover, cover;
}

.card {
    border-radius: 8px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 10px;
    margin: 25px;
}

.card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
}

.img-fluid{
    height: 175px;
    width: 210px;
    z-index: 1;
    border-radius: 60%;
    border-color: #4686a0;
}

.sidenav {
    background-color: #f1f1f1;
    color: #333;
    height: 100%;
    overflow: auto;
    position: fixed;
    width: 200px;
}
  
.sidenav a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
  
.sidenav a.active {
    background-color: #04AA6D;
    color: white;
}
  
.sidenav a:hover:not(.active) {
    background-color: #555;
    color: white;
}
  
@media screen and (max-width: 700px) {
    .sidenav{
      width: 100%;
      height: 100px;
      position: relative;
    }
    .sidenav a {float: left;}
}
  
@media screen and (max-width: 400px) {
    .sidenav{
      display: none;
    }
}






.profile {
    margin-bottom: 20px;
    margin-top: -12px;
    text-align: center;
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.job {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.img-fluid{
    border-radius: none;
}



@media only screen and (max-width:1280px) {
    .post-slide .post-content {
        padding: 0px 15px 25px 15px;
    }
} 


@media (min-width: 768px) {
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
    }
  
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
    }
  
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
  
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
    }

    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
    }
  }